.nm-overlay.trade-modal.modal {
    padding: 0;
}
.nm-overlay.trade-modal.modal .nm-overlay-content,
.nm-overlay.trade-modal.modal .nm-overlay-content > div:not([class]) {
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 961px) {
    .nm-overlay.trade-modal.modal .nm-overlay-content > .trade-window {
        padding-right: 40px;
    }
}
