:root {
    --reset-button-icon: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAABNUlEQVQoz2NgwAsamFxsQpnxq2FwMnP77CyMV4kDj9t3lyAC5rjnuD+35MRvlbz7GzdjAua4zXDbhkc6lDmU01Hb/Ye7JB7nup91/+j+1rUDpxJPPve17s/c/wPhA3dtrEpcpdzWuQe7lrmfcf/s/t/NF8MdHurOAe7PPRxcorwk3Fzd4t0uObCgG8LorOT2zFnLLdpJ2bXcQcJF0205irwxq4s70MvtriZARU7uRs56rhPd41y3uIV7BHpY+vFCXOLs/liLzcPSfYfbektOtyQ/Xpcod3+PdI90tyR3b3DceQuCwsNT1F2/gcmtxu2Ea6SzmoOM+363g25tiBi64/7Xjdstz/0UxGr3RW43XPjdot0TQdBSCGKZn1sWA5MDiwMPVBeTq6rbetdAD3UQ9OViIA4AAM0mVgxU9d2NAAAAAElFTkSuQmCC);
    --search-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="%239f96a8" d="M 7 0 A 7 7 0 1 0 11 13 L 16 19 A 2 2 0 1 0 19 16 L 13 11 A 7 7 0 0 0 7 0 L 7 2 A 5 5 0 0 1 7 12 A 5 5 0 0 1 7 2"/></svg>');
}

.trade--add-items--filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: space-between;
    height: 89px;
}
.trade--add-items--filters input.small.search {
    font-size: 12px;
    height: auto;
    padding: 0.5em 0.6em;
    width: 20px;
}
.trade--add-items--filters .filter-sets {
    width: calc(49% - 50px);
    flex-grow: 1;
}
.trade--add-items--filters input.search:focus {
    width: calc(50% - 30px);
    margin: 0;
    flex-grow: 1;
}
.trade--add-items--filters input.search:focus + .filter-sets {
    display: none;
}
.trade--add-items--filters .icon-button {
    align-self: flex-end;
    padding: 13px 0 0 5px;
    font-size: inherit;
    width: 30px;
    display: none;
    cursor: pointer;
}
.trade--add-items--filters .icon-button:hover {
    color: #085b85;
}
.trade--add-items--filters span.reset {
    font-size: inherit;
    text-align: right;
    align-self: flex-end;
    width: 30px;
    cursor: pointer;
}
.trade--add-items--filters span.reset .reset-sett {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    opacity: 0.8;
    background-image: var(--reset-button-icon);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}
.trade--add-items--filters .filter-sets:hover + .icon-button,
.trade--add-items--filters .filter-sets + .icon-button:hover {
    display: initial;
}
.trade--add-items--filters .filter-sets:hover + .icon-button + .reset,
.trade--add-items--filters .filter-sets + .icon-button:hover + .reset {
    display: none;
}
.trade--add-items--filters select.series{
    flex-grow: 1;
}

#print-list .hiddenSeries {
    padding: 5px 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    white-space: normal;
}
#print-list .hiddenSeries > span {
    font-size: 10px;
    color: #9f96a8;
}
#print-list .hiddenSeries span span {
    white-space: nowrap;
}
#print-list .hiddenSeries a {
    cursor: pointer;
    color: #9f96a8;
    position: relative;
    bottom: -1px;
}
#print-list .hiddenSeries a:hover {
    color: #085b85;
}

#print-list .hidden-item {
    display: none;
}

.trade--item .icon-button {
    margin-left: 0.5ch;
    position: relative;
    bottom: 1px;
    opacity: 0;
    color: #9f96a8;
    cursor: pointer;
}
.trade--item .search-series-button {
    width: 10px;
    height: 10px;
    background-image: var(--search-icon);
}
.trade--item:hover .icon-button {
    opacity: 1;
}
.trade--item .card-trading {
    font-size: 13px;
    position: absolute;
    top: 15px;
    right: 20px;
}
.trade--item .print-chooser {
    border: none;
    background: none;
    color: #5f5668;
    cursor: pointer;
}

.trade--side--items--loading:empty {
    display: none;
}


#trade--search--empty {
    animation: fadeIn 0s 0.15s backwards;
}
* ~ #trade--search--empty {
    opacity: 0;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
