/* the trade preview styles */
#nmte-tips .nmte-preview,
#nmte-tips .nmte-preview-sidebar {
    --bg: #efefef;
    padding: 0;
    width: 300px;
    max-width: 300px;
    border-radius: 5px;
    filter: drop-shadow(0 1px 4px #0005);
}
#nmte-tips .nmte-preview-sidebar {
    filter: drop-shadow(1px 1px 7px #0005);
}
